
.background{
  background: linear-gradient(
    rgba(0,0,0,0.3),
    rgba(0,0,0,1)),
    url("/assets/galaxy.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  height: 95vh;
  color: white;
  font-family: 'Questrial', sans-serif;
  padding-top: 5rem;
  padding-bottom: 5rem;
  font-size: 1.5rem;
}

/*HOMEPAGE*/

input {
    height: 1.5rem;
    border: 2px solid white;
    border-radius: 1rem;
    background: rgba(0, 0, 0, 0.4);
    color: white;
    width: 35%;
    transition: width 0.6s ease-in-out;
}
input[type=text]:focus , input[type=number]:focus {
  width: 60%;
  outline: none;
}

select{
  height: 2rem;
  border: 2px solid white;
  border-radius: 1rem;
  background: rgba(0, 0, 0, 0.4);
  color: white;
}

.submit{
  width: 120px;
  font-size: 1.3rem;
  height: 2rem;
  margin-top: 2rem;
  color: white;
  background: rgba(0, 0, 0, 0);
  border: 2px solid white;

}

.regform{
  width: 360px;
  padding: 0.5rem;
  font-size: 1.5rem;
}
#error , #error2{
  padding: 1rem;
  color: red;
}

/*GET ENCOUNTERS PAGE*/
.getencounterspage{
    text-align: center;
    height: 100%;
    background-repeat:repeat;
    font-size: 1rem;
    padding:0;
    background: linear-gradient(
      rgba(0,0,0,0.8),
      rgba(0,0,0,0.8)),
      url("/assets/galaxy.jpg");
      background-position: bottom;

}



.getEncountersHeader{

  background-color: black;
  height: 50px;
  font-size: 2rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  border-bottom: 2px solid white;
  position: fixed;
  top:0;
  width: 100%;
}

.getEncountersBody{
  margin-top: 180px;
  padding-top: 1rem;
  background:
  url("/assets/astro.webp"),
  url("/assets/astro.webp"),
  url("/assets/astro.webp"),
  url("/assets/astro.webp");
  background-position: 0px 0px, 900px 0px, 50px 600px, 600px 300px;
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-size: 10%;
  animation: animatedBackground 40s linear infinite;
}
@keyframes animatedBackground {
  from{background-position: 0 0, 100 100, 0 0, 100 100 ;}
  to{background-position: 100% 1%, 0% 1%, 100% 1%, 0% 1%;}
}

 a{
   color: inherit;
   text-decoration: none;
 }
 a:hover {
    color: #990099;
}

/*REPORT ALIENS PAGE*/

.reportAliensPage{
    line-height: 2rem;
}
.reportAliensPage h1{
  line-height: 4rem;
}
.reportAliensPage form{
  width: 90%;
}


.selectAlien{
  width: 95%;
  padding-bottom: 3rem;
}

.submitReportAlien{
  margin-top: 2rem;
  width: 150px;
  height: 2rem;

}

.actionTaken{
  width: 95%;
}
textarea {
  border-radius: 1rem;
  background: rgba(0, 0, 0, 0.4);
  color: white;
  height: 8rem;
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;;
  resize:none;
}

.navHome{
  text-align: left;
  position: fixed;
  bottom: 0;
  background-color: black;
  border-top: 1px solid white;

}

.navHomeEnc{
  width: 100%;
  font-size:initial;

}


/* GENERAL */
.white{
  color: white;
}
.justify-content-center{
  justify-content: center;
}
.justify-content-space-between {
  justify-content: space-between;
}
.justify-content-space-around{
  justify-content: space-around;
}
.flex{
  display: flex;
}
.text-align-center{
  text-align:center;
}
.padding-top-med{
  padding-top: 2rem;
}
.padding-bottom-med{
  padding-bottom: 2rem;
}
.flex-dir-col{
  flex-direction: column;
}
.align-items-center{
  align-items: center;
}
.padding-none{
  padding: 0;
}
.Roboto{
  font-family: 'Roboto', sans-serif;
}
.astro{
  width: 110px;
}
.alienImage img{
  width: 250px;
}
.alienImage2{
  display: none;
}

@media only screen and (min-width:650px) {

.selectAlien{
  width: 600px;
  text-align: left;
  flex-direction: row;
}
.selectAlien select{
  width: 200px;
}
.actionTaken{
  width: 600px;
  text-align: left;
}
.actionTaken textarea{
  width: 600px;
}
.reportAliensPage{
  padding-left: 3rem;
}
.reportAliensPage h1{
  text-align: left;
}
.submitResponsive{
  justify-content: flex-start;
}
.alienImage{
  display: none;
}

.navHomeEnc{
  width: 100%;
  font-size:initial;
  justify-content: flex-start;
  flex-direction: column;
  padding-left: 3rem;
}
.lala{
  width: 50%;
}

}
